html {
    width: 100%;
    height: 100%;
}

body {
    background-color: lightblue;
    color: black;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

hr {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
}

.wrapper-btn {
    display: flex;
    flex-direction: row;

    gap: 16px;
    margin-bottom: 16px;

    [class^="btn-"] {
        display: flex;

        background-color: darksalmon;
        border: brown 0.5em inset;

        width: auto;

        padding: 8px;

        button {
            padding: 8px 16px;
        }
    }

    .btn-config {
        gap: 16px;
    }

    .btn-option {
        gap: 8px;
        align-items: center;
    }


}


.wrapper-canvas {
    display: flex;
    justify-content: center;
    align-items: start;

    border: brown 2em inset;
}